@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 90vw;
    }

    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-position: center center;
    }

    section#login > div#formulario { 
        float: right;
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-position: center center;
    }

    section#login > div#formulario { 
        float: right;
        width: 60%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
        margin: 25px 0px;
    }

    div.campo > input {
        background-color: #dff8e8;
        font-size: 1em;
        width: calc(100% - 46px);
        height: 90%;
        border-radius: 5px;
        padding: 4px;
        border: 0px;
        outline: 0;
        transform: translateY(-10px);
    }

    form > div.campo {
        background-color: #dff8e8;
        display: block;
        width: 80%;
        height: 40px;
        border-radius: 5px;
        margin-top: 5px;
        margin-left: 10%;
    }

    form > input[type=submit] {
        display: block;
        font-size: 1em;
        width: 80%;
        height: 40px;
        background-color: #4CB571;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
        margin-left: 10%;
    }

    form > a.botao {
        display: block;
        text-align: center;
        font-size: 1em;
        width: 80%;
        height: 40px;
        margin-top: 5px;
        background-color: white;
        color: #2C6941;
        border: 1px solid #2C6941;
        border-radius: 5px;
        text-decoration: none;
        margin-left: 10%;
    }
}